POSTGRES_HOST=localhost
POSTGRES_DB=walking_rpg
POSTGRES_USER=walking_rpg
POSTGRES_PASSWORD=walking_rpg_local
POSTGRES_PORT=5432
BACKEND_PORT=8080

# Personalized daily goal policy
DAILY_GOAL_POLICY_VERSION=adaptive-median-v1
DAILY_GOAL_LOOKBACK_DAYS=7
DAILY_GOAL_MINIMUM_SAMPLE_DAYS=3
DAILY_GOAL_DEFAULT=6000
DAILY_GOAL_MINIMUM=2000
DAILY_GOAL_MAXIMUM=12000
DAILY_GOAL_GROWTH_PERCENT=5
DAILY_GOAL_ROUNDING_STEP=250
